.accordion#accordionServicios
    each item, i in items
        .accordion-item
            button.accordion-button.collapsed.bg-degradado-dorado-fijo(
                type='button',
                data-bs-toggle='collapse',
                data-bs-target=`#collapse${i}`
            )= item.titulo
            .accordion-collapse.collapse(
                id=`collapse${i}`,
                data-bs-parent='#accordionServicios'
            )
                .accordion-body
                    ul
                        each punto in item.desc
                            if typeof punto === 'string'
                                li= punto
                            else if punto.texto
                                li
                                    | #{punto.texto}
                                    if punto.subitems
                                        ul
                                            each sub in punto.subitems
                                                li= sub
